@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
.ff_raleway {
  font-family: "Raleway", sans-serif;
}
.ff_inter {
  font-family: "Inter", sans-serif;
}

:root {
  --fs-xsm: 20px;
  --fs-sm: 22px;
  --fs-md: 23px;
  --fs-xmd: 25px;
  --fs-lg: 27px;
  --fs-xlg: 28px;
  --fs-xxlg: 30px;
  --fs-xl: 45px;
  --fs-xxl: 50px;
  --fs-3xl: 60px;
  --fs-4xl: 88px;
  --fs-5xl: 100px;
  --fs-6xl: 118px;
  --fw-medium: 500;
  --clr-blue: #1c2183;
  --dark-blue: #242993;
  --clr-lightblue: #767ab4;
  --clr-lightblack: #373737;
  --clr-dark: #565656;
  --clr-orange: #f49e39;
  --clr-darkblack: #1a375b;
  --clr-green: #55cba9;
}
.clr_green {
  color: var(--clr-green);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.clr_darkblack {
  color: var(--clr-darkblack);
}
.clr_lightblue {
  color: var(--clr-lightblue);
}
.clr_orange {
  color: var(--clr-orange);
}
.clr_dark {
  color: var(--clr-dark);
}
.clr_lightblack {
  color: var(--clr-lightblack);
}
.clr_blue {
  color: var(--clr-blue);
}
.dark_blue {
  color: var(--dark-blue);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xmd {
  font-size: var(--fs-xmd);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xlg {
  font-size: var(--fs-xlg);
}
.fs_xxlg {
  font-size: var(--fs-xxlg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_6xl {
  font-size: var(--fs-6xl);
}

* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
.bg_img {
  background-image: url(./assets/img/png/bg_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.ml_32 {
  margin-left: 32px;
}
ul {
  margin-bottom: 0 !important;
}
.line_hover::after {
  content: "";
  position: absolute;
  background-color: #1c2183;
  height: 2px;
  width: 0%;
  top: 100%;
  left: 0%;
  transition: all 0.8s ease-in-out;
}
.line_hover:hover::after {
  width: 100%;
}
.text_hvr:hover {
  -webkit-text-stroke-width: 0.8px;
  color: #1c2183;
  /* transition: all 2s ease-in-out; */
}
.icon {
  background-color: #242993;
  height: 3px;
  width: 30px;
  z-index: 1;
}
.h_20 {
  height: 20px;
}
.z_3 {
  z-index: 3;
}
.z_index-4 {
  z-index: -4;
}
.z_index1 {
  z-index: -1;
}
.mw_50 {
  max-width: 250px;
}
.dot_img_adjust {
  top: 45%;
}
.box_dark {
  background: #eeeeff;
  opacity: 0.71;
  height: 154px;
}
.bottom-2 {
  bottom: -2%;
}
.bottom-4 {
  bottom: -4%;
}
.dot2_img_adjust {
  left: 40%;
  top: 70%;
}
.cross_img_adjust {
  top: -10%;
  left: 24%;
}
.cross2_img_adjust {
  top: 95%;
  left: 47%;
}
.cross3_img_adjust {
  top: 100%;
  left: 12%;
}
.browser_img_adjust {
  top: -15%;
  right: 37%;
}
.browser2_img_adjust {
  bottom: -5%;
  right: 39%;
}
.browser3_img_adjust {
  top: -33%;
  left: 0;
}
.a_img_adjust {
  top: -15%;
  right: 0%;
}
.array_adjust {
  top: 16px;
  right: -2%;
}
.array2_adjust {
  bottom: 0;
  right: -2%;
}
/* .bg_card {
  background-image: url(./assets/img/png/pt.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
} */
.box {
  background: #ffffff;
  box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.059);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  padding-right: 2px;
  padding-left: 2px;
  transition: all 0.4s ease-in-out;
}
.box:hover {
  box-shadow: 0px 6px 17px rgba(29, 26, 26, 0.468);
}
.img_box {
  background: #e8e9ff;
  border: 3px solid #c5c8ff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.img_adjust {
  top: 25%;
  left: 35%;
}
.box_card {
  background: #c4c5e1;
  opacity: 0.09;
  width: 100%;
  height: 100px;
}
.box_card {
  top: 23%;
}
.box_Card2adjust {
  top: 60%;
}
.arrow3_adjust {
  top: 85%;
}
.arrow_adjust {
  top: 100%;
  left: -7%;
}
.top_10 {
  top: 10%;
}
.a_fullimg_adjust {
  top: 15%;
  left: 16%;
}
.c_img_Adjust {
  top: 8%;
  left: 10%;
}
.c2_img_Adjust {
  top: 3%;
  right: 10%;
}
.arraygroup_adjust {
  top: 44%;
  left: 52%;
  transform: translateX(-50%);
}
.box_vs {
  background: #e2e3f1;
  height: 70px;
  border-radius: 30px;
}
.box_vs2 {
  background: #f49e39;
  height: 70px;
  border-radius: 30px;
}
.bg_group {
  background-image: url(./assets/img/png//Group.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.small_line {
  background: #000000;
  opacity: 0.24;
  height: 4px;
  width: 42px;
}
.foter_box {
  background: #242993;
  /* height: 200px; */
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}
.border1 {
  background: #242993;
  transform: rotate(-52deg);
  border-top: 5px solid #ffffff;
  height: 40px;
  width: 130px;
}
.start_30 {
  left: 4%;
  top: 60%;
}
.z_4 {
  z-index: 4;
}
.foter_box2 {
  border: 3px solid rgba(36, 41, 147, 0.11);
  border-radius: 20px;
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.border2 {
  opacity: 0.49;
  border: 1px dashed #707070;
}

@media (max-width: 576px) {
  .show_nav {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    transition: all 1s ease-in-out;
    z-index: 1;
  }
  .hide_nav {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -100%;
    min-height: 100vh;
    width: 100%;
    transition: all 1s ease-in-out;
    z-index: 1;
  }
  .ml_xsm_0 {
    margin-left: 0;
  }
  .mt_30_xsm {
    margin-top: 30px;
  }
  .width {
    width: 100%;
  }
  .width_post {
    width: 100%;
  }
  .vs_box {
    border: 3px dashed #c5c8ff;
    background: #f8f8ff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .vs2_box {
    border: 3px dashed rgba(244, 158, 57, 0.37);
    background: #ffffff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
  .vs_boxadjust {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 25px;
    --fs-lg: 27px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 30px;
    --fs-xxl: 50px;
    --fs-3xl: 60px;
    --fs-4xl: 29px;
    --fs-5xl: 100px;
    --fs-6xl: 118px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
  }

  .bg_img_adjust {
    top: 22%;
    z-index: -1;
  }
  .dot2_img_adjust {
    left: 10%;
    top: 70%;
  }
  .ml_20_xsm {
    margin-left: 10px;
  }
  .vh_100 {
    min-height: 100vh;
  }
  .top_75 {
    top: 50%;
    z-index: -1;
  }
}
@media (min-width: 576px) {
  .bg_img_adjust {
    top: 30%;
    z-index: -1;
  }
  .vs_box {
    border: 3px dashed #c5c8ff;
    background: #f8f8ff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .vs2_box {
    border: 3px dashed rgba(244, 158, 57, 0.37);
    background: #ffffff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  .vs_boxadjust {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  .width {
    width: 200px;
  }
  .width_post {
    width: 160px;
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 18px;
    --fs-lg: 22px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 45px;
    --fs-xxl: 35px;
    --fs-3xl: 60px;
    --fs-4xl: 88px;
    --fs-5xl: 100px;
    --fs-6xl: 118px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
    --clr-green: #55cba9;
  }
  .top_75 {
    top: 84%;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .bg_img_adjust {
    top: 30%;
    z-index: -1;
  }
  .vs_box {
    border: 3px dashed #c5c8ff;
    background: #f8f8ff;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }
  .vs2_box {
    border: 3px dashed rgba(244, 158, 57, 0.37);
    background: #ffffff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .vs_boxadjust {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 20px;
    --fs-lg: 22px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 40px;
    --fs-xxl: 40px;
    --fs-3xl: 60px;
    --fs-4xl: 88px;
    --fs-5xl: 100px;
    --fs-6xl: 90px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
    --clr-green: #55cba9;
  }
}
@media (min-width: 992px) {
  .bg_img_adjust {
    top: 0%;
    z-index: -1;
  }
  .vs_box {
    border: 3px dashed #c5c8ff;
    background: #f8f8ff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .top_75 {
    top: 75%;
    z-index: -1;
  }
  .vs2_box {
    border: 3px dashed rgba(244, 158, 57, 0.37);
    background: #ffffff;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }
  .vs_boxadjust {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .width {
    width: 450px;
  }
  .width_post {
    width: 350px;
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 25px;
    --fs-lg: 27px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 38px;
    --fs-xxl: 50px;
    --fs-3xl: 60px;
    --fs-4xl: 88px;
    --fs-5xl: 100px;
    --fs-6xl: 90px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
    --clr-green: #55cba9;
  }
}
@media (min-width: 1200px) {
  .bg_img_adjust {
    top: -15%;
    z-index: -1;
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 25px;
    --fs-lg: 27px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 45px;
    --fs-xxl: 50px;
    --fs-3xl: 60px;
    --fs-4xl: 88px;
    --fs-5xl: 100px;
    --fs-6xl: 118px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
    --clr-green: #55cba9;
  }
}
@media (min-width: 1400px) {
  .min_100_xl {
    min-height: 100vh;
  }
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-xmd: 25px;
    --fs-lg: 27px;
    --fs-xlg: 28px;
    --fs-xxlg: 30px;
    --fs-xl: 45px;
    --fs-xxl: 50px;
    --fs-3xl: 60px;
    --fs-4xl: 88px;
    --fs-5xl: 100px;
    --fs-6xl: 118px;
    --fw-medium: 500;
    --clr-blue: #1c2183;
    --dark-blue: #242993;
    --clr-lightblue: #767ab4;
    --clr-lightblack: #373737;
    --clr-dark: #565656;
    --clr-orange: #f49e39;
    --clr-darkblack: #1a375b;
    --clr-green: #55cba9;
  }
}
@media (min-width: 1700px) {
  .min_100_xl {
    min-height: 150vh;
  }
  .bottom-4 {
    bottom: -30%;
  }
}
